::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

.connect-text {
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* justify-content: center ; */
}

.connect-text h1 {
  font-size: 7.5rem;
  margin-bottom: 0;
}

.connect-text p {
  font-size: 1.3rem;
}

.social-icons {
  align-self: center;
  height: 4rem;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.social-icons a {
  font-size: 2.5rem;
  background-color: #de9295;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out; 
  /* opacity: 0.8; */
}


.social-icons a:hover {
  transition: all 0.3s ease-in-out;
  /* transform: scale(1.2); */
  opacity: 1;
} 

.linkedin:hover {
  background: #0e76a8;
}

.github:hover {
  background: #171515;
}

.dev:hover {
  background: black;
}

.insta:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.mail:hover {
  background: #ca9244;
}