* {
  color: rgb(228, 237, 247);
  font-family: 'Poppins', sans-serif;
}
.home-div h1 {
  font-size: 5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60%;
  height: 30%;
  text-shadow: 2px 2px 4px #000000;
}
.me {
  margin-bottom: -2rem;
}

.frame {
  height: 35%;
  width: 15%;
  background: url('../../assets/images/pfp.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  rotate: -20deg;
  transition:.3s ease-in-out;
  margin-top: 2rem;
  cursor: pointer;
}

/* Sweep To Top */
/* .frame {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
} */

.frame:before {
  content: "My Resume";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 220%;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #de9295;
  border-radius: 50%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.frame:hover, .frame:focus, .frame:active {
  color: white;
  rotate: 0deg;
  -webkit-transform: scale(0.8);
  border-radius: 50% 50%;
}
.frame:hover:before, .frame:focus:before, .frame:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* .frame:hover{
  rotate: 0deg;
  transition:.3s ease-in-out;
  box-shadow: #ffa8ac 0px 10px 15px 0px, #b27578 0px 0px 0px 1px;
  -webkit-transform: scale(1.2);
} */


span {
  color: #de9295;
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.typed-fade-out{
  opacity: 0;
  transition: opacity .25s;
  -webkit-animation: 0;
  animation: 0;
}
.arrowDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50%;
}
